.Table{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 30PX;
    padding: 20px;
    margin: 150px;
    opacity: 1;
}

.Table.element-show {
    opacity: 1;
}

span.string_Table {
    position:relative;
    margin: 0 80px;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Inter',Arial,sans-serif;

}
span.orange {
    color: #e3583b;
}

.graph_content {
    margin-left: 80px;
}

 .graph_wrapper_linev {
    position: relative;
    bottom: 180px;
    right: 220px;
    border-bottom: 2px solid #979797;
    transform: rotate(90deg);
    width: 380px;
 }

 .graph_wrapper_lineh {
    position: relative;
    bottom: 55px;
    right: 60px;
    border-bottom: 2px solid #979797;
    width: 490px;
 }
 
 .line_1 {
    position: relative;
    margin: 10px 0;
    border-bottom: 3px solid #97979757;
    width: 480px;
 }

 /*------------------------Columns---------------------*/
 
 .Column {
    position: relative;
    margin: 21px;
    border-radius: 20px;
    background-color: #e6e6e6;
    display:inline-block;
    

    width: 110px;
    height: 330px;
    
    font-size: 40px;
    color: #8f8f8f;
    font-size: 24px;
    font-family: 'Inter',Arial,sans-serif;
    line-height: NaN;
    font-weight: 600;  
 }

.Columns1 {
    position: absolute;
    transform: translateY(-373px);
    visibility: hidden;
}


 span.persent{
    color: #ffffff;
    background-color: #e3583b;


    position: relative;
    right: 1px;
    top:280px;
    
    
 }
 span.persent_1 {
    position: relative;
    top: 100px;
    left: 35px;

 }
 span.p_ {
    font-size: 25px;
    position: relative;
    left: 35px;
    top:40px;

 }
 span.persent1 {
    text-align: center;
    display:inline-block;
    width: 110px;
    color: #ffffff;
    background-color: #e3583b;
    width: 110px;
    height: 60px;
    position: relative;
    right: 1px;
    top:240px;
    margin-top:1px;
    border-radius: 20px;
    transition: top .7s, height .7s;
    
 }
 span.persent2 {
    text-align: center;
    display:inline-block;
    width: 110px;
    color: #ffffff;
    background-color: #e3583b;
    width: 110px;
    height: 100px;
    position: relative;
    right: 1px;
    top:200px;
    margin-top:1px;
    border-radius: 20px;
    transition: top .7s, height .7s;
}
span.persent3 {
    text-align: center;
    display:inline-block;
    width: 110px;
    color: #ffffff;
    background-color: #e3583b;
    width: 110px;
    height: 220px;
    position: relative;
    right: 1px;
    top:80px;
    margin-top:1px;
    border-radius: 20px;
    transition: top .7s, height .7s;
    
}
.Years {
    color: #000000;
    font-size: 24px;
    font-family: 'Inter',Arial,sans-serif;
    line-height: NaN;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    display: flex;
    align-items: center;
    Justify-content: center;
    word-spacing: 100px;
    position: relative;
    top: 35px;
    left: 50px;


}

/*---------------------------------второй-график---------------------------*/

span.persent1_2 {
    text-align: center;
    display:inline-block;
    width: 110px;
    color: #ffffff;
    background-color: #e3583b;
    width: 110px;
    height: 150px;
    position: relative;
    right: 1px;
    top:150px;
    margin-top:1px;
    border-radius: 20px;
    transition: top .7s, height .7s;
 }
 span.persent2_1 {
    text-align: center;
    display:inline-block;
    width: 110px;
    color: #ffffff;
    background-color: #e3583b;
    width: 110px;
    height: 190px;
    position: relative;
    right: 1px;
    top:110px;
    margin-top:1px;
    border-radius: 20px;
    transition: top .7s, height .7s;
 }



button.btn_gr {
    position: relative;
    transform: rotate(360deg);
    color: #e3583b;
    font-family: 'Inter',Arial,sans-serif;
    font-weight: 600;
    font-size: 24px;
}
button.btn_gr1 {
    position: relative;
    margin-right: 10px;
    color: #e3583b;
    font-family: 'Inter',Arial,sans-serif;
    font-weight: 600;
    font-size: 24px;
}


button.btn_gr:focus {
    color: #8f8f8f 
    
}
button.btn_gr1:focus {
    color: #8f8f8f;
    
}

.buttons {
    margin: 20px 0;
}


/*----------------------------------------------*/


